In [1]:
import pandas as pd
name = "kdd-cup-2014-predicting-excitement-at-donors-choose"
# loading all dataframes
donations_df = pd.read_csv(f'datasets_kaggle/{name}/donations.csv')
essays_df = pd.read_csv(f'datasets_kaggle/{name}/essays.csv')
outcomes_df = pd.read_csv(f'datasets_kaggle/{name}/outcomes.csv')
projects_df = pd.read_csv(f'datasets_kaggle/{name}/projects_sample.csv')
resources_df = pd.read_csv(f'datasets_kaggle/{name}/resources.csv')
sample_submission_df = pd.read_csv(f'datasets_kaggle/{name}/sampleSubmission.csv')

In [2]:
print(len(projects_df))

166024

# Applying Jimmy's Code

### Feature Engineering

In [2]:
# Merging Projects with Essays, Outcomes, and Resources
merged_df = projects_df.merge(essays_df, on='projectid', how='left')
merged_df

,Unnamed: 0,projectid,teacher_acctid_x,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,...,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,eligible_almost_home_match,date_posted,teacher_acctid_y,title,short_description,need_statement,essay
0,1062,dd291f97dc6b32b7c9f052794efc4929,b98394d3a6221c59521a1985ad1696af,cebf1adb4f18927879baafbea1bf7895,2.400090e+11,39.232740,-76.593257,Baltimore,MD,21225.0,...,2527.64,125.0,f,f,2014-05-09,b98394d3a6221c59521a1985ad1696af,Improving Technology Improves Lives: Ben Frank...,"My students went paperless last year. However,...",My students need to expand their computing opt...,"My students went paperless last year. However,..."
1,277544,673d26170aeaf573d6e4c7565a65915b,0d7a6e32be3f2896ea319a2b1cf71bb5,bfae9533040b46a60a9d29eb76a2e008,6.228900e+10,33.954487,-118.081238,Santa Fe Spgs,CA,90670.0,...,267.49,62.0,f,f,2012-02-02,0d7a6e32be3f2896ea319a2b1cf71bb5,Pencils and a Sharpener,Please help my students by providing pencils a...,My students need pencils and a pencil sharpene...,Please help my students by providing pencils a...
2,388308,8f0e3bc89dc5304f71f167201242fa5e,e46076282af0b3483467992b38d64822,e2522cf2744a19c549d2990f7ef42a68,6.343201e+10,32.747158,-117.208481,San Diego,CA,92110.0,...,222.12,80.0,f,f,2011-01-30,e46076282af0b3483467992b38d64822,Are You Listening? Can You Help?,"More students will be able to hear, see, and d...",My students need an iPod Listening Station so ...,"Can I be next?"", ""It's my turn!"" This is what ..."
3,77907,195d03cc23a38b2990dff4b81e774f28,a17b7278f1038b0cd6ff697f865343db,4ff19db2d9b58202fdff46e041fa3f39,2.502790e+11,42.326497,-71.070917,Roxbury,MA,2119.0,...,169.62,40.0,f,f,2013-10-19,a17b7278f1038b0cd6ff697f865343db,All About Inclusion!,As an older sibling to two brothers with autis...,My students need 6 noise canceling earphones f...,As an older sibling to two brothers with autis...
4,523215,3c884a0ee29b7dea836b887d60d79c08,2350b8236de09f5e209714476d2e31a8,7da763ccf67ef06b9123c45edcec9ae1,2.506210e+11,42.065704,-72.160109,Holland,MA,1521.0,...,473.46,20.0,t,f,2009-06-10,2350b8236de09f5e209714476d2e31a8,The States and Their Animals,"I am asking for a donation of the rug, which I...",My students need a Wild America Rug.,Learning about each state in the Union is not ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166019,199335,32b34fea904ed58fe368fd382bc206c5,661aa21922afef92fa1ff3aad8e3aadb,ed8e927636d436037f38a845cc87a75f,4.825740e+11,30.124562,-95.527444,Spring,TX,77389.0,...,345.52,26.0,f,f,2012-10-21,661aa21922afef92fa1ff3aad8e3aadb,Science Stations for Our Youngest Learners,"For young learners, science is one of the most...",My students need materials for science station...,"For young learners, science is one of the most..."
166020,383141,52cc035ca3e82620ef518acacf210fd9,1fb4b9831e3d6eb4166ad1abaa84f45d,1f6a9c4cc53886c8e267bb2ace747873,3.000005e+11,46.606198,-112.071989,Helena,MT,59601.0,...,260.78,135.0,t,f,2011-02-13,1fb4b9831e3d6eb4166ad1abaa84f45d,Smart Classroom In Need Of Smart Technology,Help us recognize our learning and creative po...,"My students need materials, mosaic stones, til...",Help us recognize our learning and creative po...
166021,387473,eaede6c7d5b95ec9d7b618c85d5c9d5c,00fca35372d5c597c5d33ac2cbfd6dd8,cacdaef0b1a0307860ccd60b4a55598d,3.600079e+11,40.791367,-73.947866,New York,NY,10029.0,...,447.26,32.0,t,f,2011-01-31,00fca35372d5c597c5d33ac2cbfd6dd8,We Would Love to Utilize HP Wireless Printing,"With these materials, an HP wireless printer a...",My students need an HP wireless printer and ink.,The less wires in a classroom the better! Tech...
166022,383218,860f3577e8945fb713494070243b15de,307f944f26888c7815c47956631c655a,541aa1e3442559a68a4734d319d62ccf,1.200870e+11,27.943546,-82.298340,Brandon,FL,33510.0,...,665.47,125.0,t,f,2011-02-13,307f944f26888c7815c47956631c655a,The Virtual Spanish Classroom: There's an App ...,My students need a tablet PC so they can use d...,My students need a Lenovo Netbook Tablet so th...,The multiple histories and cultures of the dif...
166023,14673,2b4cfa9df719a703dded8da8ae995ff1,2e4d3ad18725662cf11b1f6348c2c36a,a62b036a89621875db9c0d385a0d77f8,2.621150e+11,42.699628,-84.514779,Lansing,MI,48910.0,...,478.87,25.0,f,f,2014-03-22,2e4d3ad18725662cf11b1f6348c2c36a,Kindergartners CAN Read and Write!,"Read it again, Mrs. Fortino!"" ""Can we put it o...",My students need MANY books by Eric Carle and ...,"Read it again, Mrs. Fortino!"" ""Can we put it o..."

In [3]:
merged_df = merged_df.merge(outcomes_df, on='projectid', how='left')
merged_df

,Unnamed: 0,projectid,teacher_acctid_x,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,...,at_least_1_teacher_referred_donor,fully_funded,at_least_1_green_donation,great_chat,three_or_more_non_teacher_referred_donors,one_non_teacher_referred_donor_giving_100_plus,donation_from_thoughtful_donor,great_messages_proportion,teacher_referred_count,non_teacher_referred_count
0,1062,dd291f97dc6b32b7c9f052794efc4929,b98394d3a6221c59521a1985ad1696af,cebf1adb4f18927879baafbea1bf7895,2.400090e+11,39.232740,-76.593257,Baltimore,MD,21225.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,277544,673d26170aeaf573d6e4c7565a65915b,0d7a6e32be3f2896ea319a2b1cf71bb5,bfae9533040b46a60a9d29eb76a2e008,6.228900e+10,33.954487,-118.081238,Santa Fe Spgs,CA,90670.0,...,f,t,t,f,f,t,f,50.0,0.0,2.0
2,388308,8f0e3bc89dc5304f71f167201242fa5e,e46076282af0b3483467992b38d64822,e2522cf2744a19c549d2990f7ef42a68,6.343201e+10,32.747158,-117.208481,San Diego,CA,92110.0,...,t,t,t,t,t,t,f,75.0,1.0,4.0
3,77907,195d03cc23a38b2990dff4b81e774f28,a17b7278f1038b0cd6ff697f865343db,4ff19db2d9b58202fdff46e041fa3f39,2.502790e+11,42.326497,-71.070917,Roxbury,MA,2119.0,...,f,t,t,f,f,f,f,33.0,0.0,2.0
4,523215,3c884a0ee29b7dea836b887d60d79c08,2350b8236de09f5e209714476d2e31a8,7da763ccf67ef06b9123c45edcec9ae1,2.506210e+11,42.065704,-72.160109,Holland,MA,1521.0,...,NaN,f,NaN,f,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166019,199335,32b34fea904ed58fe368fd382bc206c5,661aa21922afef92fa1ff3aad8e3aadb,ed8e927636d436037f38a845cc87a75f,4.825740e+11,30.124562,-95.527444,Spring,TX,77389.0,...,t,t,t,f,t,t,f,50.0,1.0,3.0
166020,383141,52cc035ca3e82620ef518acacf210fd9,1fb4b9831e3d6eb4166ad1abaa84f45d,1f6a9c4cc53886c8e267bb2ace747873,3.000005e+11,46.606198,-112.071989,Helena,MT,59601.0,...,f,t,f,f,f,t,f,0.0,0.0,2.0
166021,387473,eaede6c7d5b95ec9d7b618c85d5c9d5c,00fca35372d5c597c5d33ac2cbfd6dd8,cacdaef0b1a0307860ccd60b4a55598d,3.600079e+11,40.791367,-73.947866,New York,NY,10029.0,...,f,f,f,t,f,f,f,100.0,0.0,1.0
166022,383218,860f3577e8945fb713494070243b15de,307f944f26888c7815c47956631c655a,541aa1e3442559a68a4734d319d62ccf,1.200870e+11,27.943546,-82.298340,Brandon,FL,33510.0,...,f,t,t,f,t,f,f,0.0,0.0,18.0
166023,14673,2b4cfa9df719a703dded8da8ae995ff1,2e4d3ad18725662cf11b1f6348c2c36a,a62b036a89621875db9c0d385a0d77f8,2.621150e+11,42.699628,-84.514779,Lansing,MI,48910.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
merged_df = merged_df.merge(resources_df.groupby('projectid').agg({'item_unit_price':'sum', 'item_quantity':'sum'}).reset_index(), on='projectid', how='left')
merged_df

,Unnamed: 0,projectid,teacher_acctid_x,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,...,at_least_1_green_donation,great_chat,three_or_more_non_teacher_referred_donors,one_non_teacher_referred_donor_giving_100_plus,donation_from_thoughtful_donor,great_messages_proportion,teacher_referred_count,non_teacher_referred_count,item_unit_price,item_quantity
0,1062,dd291f97dc6b32b7c9f052794efc4929,b98394d3a6221c59521a1985ad1696af,cebf1adb4f18927879baafbea1bf7895,2.400090e+11,39.232740,-76.593257,Baltimore,MD,21225.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1899.99,1.0
1,277544,673d26170aeaf573d6e4c7565a65915b,0d7a6e32be3f2896ea319a2b1cf71bb5,bfae9533040b46a60a9d29eb76a2e008,6.228900e+10,33.954487,-118.081238,Santa Fe Spgs,CA,90670.0,...,t,f,f,t,f,50.0,0.0,2.0,89.15,21.0
2,388308,8f0e3bc89dc5304f71f167201242fa5e,e46076282af0b3483467992b38d64822,e2522cf2744a19c549d2990f7ef42a68,6.343201e+10,32.747158,-117.208481,San Diego,CA,92110.0,...,t,t,t,t,f,75.0,1.0,4.0,139.00,1.0
3,77907,195d03cc23a38b2990dff4b81e774f28,a17b7278f1038b0cd6ff697f865343db,4ff19db2d9b58202fdff46e041fa3f39,2.502790e+11,42.326497,-71.070917,Roxbury,MA,2119.0,...,t,f,f,f,f,33.0,0.0,2.0,59.44,7.0
4,523215,3c884a0ee29b7dea836b887d60d79c08,2350b8236de09f5e209714476d2e31a8,7da763ccf67ef06b9123c45edcec9ae1,2.506210e+11,42.065704,-72.160109,Holland,MA,1521.0,...,NaN,f,NaN,NaN,NaN,NaN,NaN,NaN,329.99,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166019,199335,32b34fea904ed58fe368fd382bc206c5,661aa21922afef92fa1ff3aad8e3aadb,ed8e927636d436037f38a845cc87a75f,4.825740e+11,30.124562,-95.527444,Spring,TX,77389.0,...,t,f,t,t,f,50.0,1.0,3.0,259.79,5.0
166020,383141,52cc035ca3e82620ef518acacf210fd9,1fb4b9831e3d6eb4166ad1abaa84f45d,1f6a9c4cc53886c8e267bb2ace747873,3.000005e+11,46.606198,-112.071989,Helena,MT,59601.0,...,f,f,f,t,f,0.0,0.0,2.0,53.78,34.0
166021,387473,eaede6c7d5b95ec9d7b618c85d5c9d5c,00fca35372d5c597c5d33ac2cbfd6dd8,cacdaef0b1a0307860ccd60b4a55598d,3.600079e+11,40.791367,-73.947866,New York,NY,10029.0,...,f,t,f,f,f,100.0,0.0,1.0,268.37,5.0
166022,383218,860f3577e8945fb713494070243b15de,307f944f26888c7815c47956631c655a,541aa1e3442559a68a4734d319d62ccf,1.200870e+11,27.943546,-82.298340,Brandon,FL,33510.0,...,t,f,t,f,f,0.0,0.0,18.0,510.99,1.0
166023,14673,2b4cfa9df719a703dded8da8ae995ff1,2e4d3ad18725662cf11b1f6348c2c36a,a62b036a89621875db9c0d385a0d77f8,2.621150e+11,42.699628,-84.514779,Lansing,MI,48910.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,371.47,58.0

In [6]:
# Merging Donations (aggregated) with the main merged dataframe
donation_features = donations_df.groupby('projectid').agg({'donation_total':'sum', 'donor_acctid':'nunique'}).reset_index()
donation_features.rename(columns={'donation_total':'total_donations', 'donor_acctid':'unique_donors'}, inplace=True)
donation_features

                               projectid  total_donations  unique_donors
0       00001ccc0e81598c4bd86bacb94d7acb          1498.61              3
1       00002bff514104264a6b798356fdd893           561.55              2
2       00002d691c05c51a5fdfbb2baef0ba25           120.00              5
3       0000b38bbc7252972f7984848cf58098           644.54              2
4       0000ee613c92ddc5298bf63142996a5c           452.78              5
...                                  ...              ...            ...
525037  fffeebf4827d745aa36b17c2d38d1966           938.00              1
525038  ffff2d9c769c8fb5335e949c615425eb           682.05              8
525039  ffff418bb42fad24347527ad96100f81            25.00              1
525040  ffff97ed93720407d70a2787475932b0           517.66              3
525041  ffffac55ee02a49d1abc87ba6fc61135           221.91              7

[525042 rows x 3 columns]

In [7]:
merged_df = merged_df.merge(donation_features, on='projectid', how='left')
merged_df

,Unnamed: 0,projectid,teacher_acctid_x,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,...,three_or_more_non_teacher_referred_donors,one_non_teacher_referred_donor_giving_100_plus,donation_from_thoughtful_donor,great_messages_proportion,teacher_referred_count,non_teacher_referred_count,item_unit_price,item_quantity,total_donations,unique_donors
0,1062,dd291f97dc6b32b7c9f052794efc4929,b98394d3a6221c59521a1985ad1696af,cebf1adb4f18927879baafbea1bf7895,2.400090e+11,39.232740,-76.593257,Baltimore,MD,21225.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1899.99,1.0,NaN,NaN
1,277544,673d26170aeaf573d6e4c7565a65915b,0d7a6e32be3f2896ea319a2b1cf71bb5,bfae9533040b46a60a9d29eb76a2e008,6.228900e+10,33.954487,-118.081238,Santa Fe Spgs,CA,90670.0,...,f,t,f,50.0,0.0,2.0,89.15,21.0,267.49,2.0
2,388308,8f0e3bc89dc5304f71f167201242fa5e,e46076282af0b3483467992b38d64822,e2522cf2744a19c549d2990f7ef42a68,6.343201e+10,32.747158,-117.208481,San Diego,CA,92110.0,...,t,t,f,75.0,1.0,4.0,139.00,1.0,222.12,5.0
3,77907,195d03cc23a38b2990dff4b81e774f28,a17b7278f1038b0cd6ff697f865343db,4ff19db2d9b58202fdff46e041fa3f39,2.502790e+11,42.326497,-71.070917,Roxbury,MA,2119.0,...,f,f,f,33.0,0.0,2.0,59.44,7.0,152.15,2.0
4,523215,3c884a0ee29b7dea836b887d60d79c08,2350b8236de09f5e209714476d2e31a8,7da763ccf67ef06b9123c45edcec9ae1,2.506210e+11,42.065704,-72.160109,Holland,MA,1521.0,...,NaN,NaN,NaN,NaN,NaN,NaN,329.99,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166019,199335,32b34fea904ed58fe368fd382bc206c5,661aa21922afef92fa1ff3aad8e3aadb,ed8e927636d436037f38a845cc87a75f,4.825740e+11,30.124562,-95.527444,Spring,TX,77389.0,...,t,t,f,50.0,1.0,3.0,259.79,5.0,336.69,4.0
166020,383141,52cc035ca3e82620ef518acacf210fd9,1fb4b9831e3d6eb4166ad1abaa84f45d,1f6a9c4cc53886c8e267bb2ace747873,3.000005e+11,46.606198,-112.071989,Helena,MT,59601.0,...,f,t,f,0.0,0.0,2.0,53.78,34.0,260.78,2.0
166021,387473,eaede6c7d5b95ec9d7b618c85d5c9d5c,00fca35372d5c597c5d33ac2cbfd6dd8,cacdaef0b1a0307860ccd60b4a55598d,3.600079e+11,40.791367,-73.947866,New York,NY,10029.0,...,f,f,f,100.0,0.0,1.0,268.37,5.0,25.00,1.0
166022,383218,860f3577e8945fb713494070243b15de,307f944f26888c7815c47956631c655a,541aa1e3442559a68a4734d319d62ccf,1.200870e+11,27.943546,-82.298340,Brandon,FL,33510.0,...,t,f,f,0.0,0.0,18.0,510.99,1.0,665.47,18.0
166023,14673,2b4cfa9df719a703dded8da8ae995ff1,2e4d3ad18725662cf11b1f6348c2c36a,a62b036a89621875db9c0d385a0d77f8,2.621150e+11,42.699628,-84.514779,Lansing,MI,48910.0,...,NaN,NaN,NaN,NaN,NaN,NaN,371.47,58.0,NaN,NaN

In [12]:
# Feature name and description: total_cost_of_project - Sum of total price including optional support and total donations
# Usefulness: This feature could help in determining how financially heavy a project is, which could be related to its 'exciting' status.
# Input samples: 'total_price_including_optional_support': [2527.64, 267.49, 222.12], 'total_donations': [2300.0, 267.49, 222.12]
merged_df['total_cost_of_project'] = merged_df['total_price_including_optional_support'] + merged_df['total_donations'].fillna(0)

KeyError: 'resourceid'

In [9]:
# Feature name and description: total_items_needed - Total quantity of items needed for the project
# Usefulness: A project requiring a large number of items may be more 'exciting' due to its scale.
# Input samples: 'item_quantity': [1.0, 8.0, 5.0]
merged_df['total_items_needed'] = merged_df['item_quantity'].fillna(0)

In [13]:
# Feature name and description: unique_donors_per_project - Number of unique donors for each project
# Usefulness: More unique donors could indicate higher excitement around the project.
# Input samples: 'unique_donors': [2, 5, 1]
merged_df['unique_donors_per_project'] = merged_df['unique_donors'].fillna(0)
merged_df

,Unnamed: 0,projectid,teacher_acctid_x,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,...,great_messages_proportion,teacher_referred_count,non_teacher_referred_count,item_unit_price,item_quantity,total_donations,unique_donors,total_cost_of_project,total_items_needed,unique_donors_per_project
0,1062,dd291f97dc6b32b7c9f052794efc4929,b98394d3a6221c59521a1985ad1696af,cebf1adb4f18927879baafbea1bf7895,2.400090e+11,39.232740,-76.593257,Baltimore,MD,21225.0,...,NaN,NaN,NaN,1899.99,1.0,NaN,NaN,2527.64,1.0,0.0
1,277544,673d26170aeaf573d6e4c7565a65915b,0d7a6e32be3f2896ea319a2b1cf71bb5,bfae9533040b46a60a9d29eb76a2e008,6.228900e+10,33.954487,-118.081238,Santa Fe Spgs,CA,90670.0,...,50.0,0.0,2.0,89.15,21.0,267.49,2.0,534.98,21.0,2.0
2,388308,8f0e3bc89dc5304f71f167201242fa5e,e46076282af0b3483467992b38d64822,e2522cf2744a19c549d2990f7ef42a68,6.343201e+10,32.747158,-117.208481,San Diego,CA,92110.0,...,75.0,1.0,4.0,139.00,1.0,222.12,5.0,444.24,1.0,5.0
3,77907,195d03cc23a38b2990dff4b81e774f28,a17b7278f1038b0cd6ff697f865343db,4ff19db2d9b58202fdff46e041fa3f39,2.502790e+11,42.326497,-71.070917,Roxbury,MA,2119.0,...,33.0,0.0,2.0,59.44,7.0,152.15,2.0,321.77,7.0,2.0
4,523215,3c884a0ee29b7dea836b887d60d79c08,2350b8236de09f5e209714476d2e31a8,7da763ccf67ef06b9123c45edcec9ae1,2.506210e+11,42.065704,-72.160109,Holland,MA,1521.0,...,NaN,NaN,NaN,329.99,1.0,NaN,NaN,473.46,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166019,199335,32b34fea904ed58fe368fd382bc206c5,661aa21922afef92fa1ff3aad8e3aadb,ed8e927636d436037f38a845cc87a75f,4.825740e+11,30.124562,-95.527444,Spring,TX,77389.0,...,50.0,1.0,3.0,259.79,5.0,336.69,4.0,682.21,5.0,4.0
166020,383141,52cc035ca3e82620ef518acacf210fd9,1fb4b9831e3d6eb4166ad1abaa84f45d,1f6a9c4cc53886c8e267bb2ace747873,3.000005e+11,46.606198,-112.071989,Helena,MT,59601.0,...,0.0,0.0,2.0,53.78,34.0,260.78,2.0,521.56,34.0,2.0
166021,387473,eaede6c7d5b95ec9d7b618c85d5c9d5c,00fca35372d5c597c5d33ac2cbfd6dd8,cacdaef0b1a0307860ccd60b4a55598d,3.600079e+11,40.791367,-73.947866,New York,NY,10029.0,...,100.0,0.0,1.0,268.37,5.0,25.00,1.0,472.26,5.0,1.0
166022,383218,860f3577e8945fb713494070243b15de,307f944f26888c7815c47956631c655a,541aa1e3442559a68a4734d319d62ccf,1.200870e+11,27.943546,-82.298340,Brandon,FL,33510.0,...,0.0,0.0,18.0,510.99,1.0,665.47,18.0,1330.94,1.0,18.0
166023,14673,2b4cfa9df719a703dded8da8ae995ff1,2e4d3ad18725662cf11b1f6348c2c36a,a62b036a89621875db9c0d385a0d77f8,2.621150e+11,42.699628,-84.514779,Lansing,MI,48910.0,...,NaN,NaN,NaN,371.47,58.0,NaN,NaN,478.87,58.0,0.0

In [14]:
merged_df.columns

Index(['Unnamed: 0', 'projectid', 'teacher_acctid_x', 'schoolid',
       'school_ncesid', 'school_latitude', 'school_longitude', 'school_city',
       'school_state', 'school_zip', 'school_metro', 'school_district',
       'school_county', 'school_charter', 'school_magnet', 'school_year_round',
       'school_nlns', 'school_kipp', 'school_charter_ready_promise',
       'teacher_prefix', 'teacher_teach_for_america',
       'teacher_ny_teaching_fellow', 'primary_focus_subject',
       'primary_focus_area', 'secondary_focus_subject', 'secondary_focus_area',
       'resource_type', 'poverty_level', 'grade_level',
       'fulfillment_labor_materials', 'total_price_excluding_optional_support',
       'total_price_including_optional_support', 'students_reached',
       'eligible_double_your_impact_match', 'eligible_almost_home_match',
       'date_posted', 'teacher_acctid_y', 'title', 'short_description',
       'need_statement', 'essay', 'is_exciting',
       'at_least_1_teacher_referred_donor', 'fully_funded',
       'at_least_1_green_donation', 'great_chat',
       'three_or_more_non_teacher_referred_donors',
       'one_non_teacher_referred_donor_giving_100_plus',
       'donation_from_thoughtful_donor', 'great_messages_proportion',
       'teacher_referred_count', 'non_teacher_referred_count',
       'item_unit_price', 'item_quantity', 'total_donations', 'unique_donors',
       'total_cost_of_project', 'total_items_needed',
       'unique_donors_per_project'],
      dtype='object')

In [52]:
# Explanation why the columns are dropped: Dropping columns that have been used to create new features or are identifiers.
merged_df.drop(columns=['total_price_including_optional_support', 'total_donations', 'item_quantity', 'unique_donors', 'Unnamed: 0'],inplace=True)
#, 'resourceid', 'vendorid', 'vendor_name'], inplace=True)

### Model Building

In [53]:
from sklearn.preprocessing import LabelEncoder
# Handle missing values by filling them with zeros or encoding categorical variables
for column in merged_df.columns:
    if merged_df[column].dtype == 'object' and not merged_df[column].mode().empty:
        merged_df[column].fillna(merged_df[column].mode()[0], inplace=True)
    else:
        merged_df[column].fillna(0, inplace=True)

# Handle categorical variables
label_cols = merged_df.select_dtypes(include=['object']).columns.difference(['projectid'])
for col in label_cols:
    le = LabelEncoder()
    merged_df[col] = le.fit_transform(merged_df[col].astype(str))

# Drop the 'projectid' as it is just an identifier
if 'projectid' in merged_df.columns:
    merged_df.drop(columns=['projectid'], inplace=True)

In [68]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
# Extract the target variable 'is_exciting' and features from the merged dataframe
X = merged_df.drop(columns=['is_exciting'])
y = merged_df['is_exciting']

# Split the data into training and validation sets (70% training, 30% validation)
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.3, random_state=42)

In [56]:
# Initialize and train the Random Forest Classifier
rf_clf = RandomForestClassifier(random_state=42)
rf_clf.fit(X_train, y_train)

# Predict the target variable for the validation set
y_val_pred = rf_clf.predict(X_val)

# Calculate the accuracy score of the model
accuracy = accuracy_score(y_val, y_val_pred)

In [70]:
accuracy

0.9999397687118535

### For Submission

In [32]:
test_project_ids = sample_submission_df["projectid"]

In [78]:
len(set(test_project_ids))

44772

In [85]:
merged_df_test = projects_df.merge(sample_submission_df, on='projectid', how='right')
merged_df_test

,Unnamed: 0,projectid,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,...,poverty_level,grade_level,fulfillment_labor_materials,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,eligible_almost_home_match,date_posted,is_exciting
0,NaN,ffff7266778f71242675416e600b94e1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,28184.0,fffeb510ee37a0bb01079f06bf141246,eee00f06bb674f025175f07490e7269c,af0447c301915d0c3cd67ec0c97d082a,NaN,41.746249,-87.652208,Chicago,IL,60620.0,...,highest poverty,Grades 9-12,30.0,435.95,512.88,50.0,t,f,2014-02-17,0
2,NaN,fff979abefa35a6bdd133b4e4150b737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,NaN,fff8beec6de8c9411520d15d1f6979bf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,16294.0,fff745e9c0b8cc9e73e8c4c9a0ef4292,6b2f281d7143a3363bbe74fb88a66227,7083409afbfa2d56b48bb8ce6227d7c5,4.818540e+11,32.316716,-96.637445,Ennis,TX,75119.0,...,highest poverty,Grades PreK-2,30.0,299.78,352.68,500.0,f,f,2014-03-19,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44767,NaN,000b6e707ad50a597ab46eedff6bde05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
44768,NaN,0008c67f27dd29ea7be5a7cc5a866df8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
44769,31464.0,00059e63bb0567708b2b0c9e3d9c43d6,404bc64798ecf3cc13aa5ef36f3b8af6,be6b91fce44c87342f7adce46a86e580,1.302610e+11,34.422806,-83.851959,Gainesville,GA,30506.0,...,moderate poverty,Grades 6-8,30.0,1017.35,1196.88,10.0,f,f,2014-02-08,0
44770,NaN,00057f424b5498c7ece13d13ce3e2178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
44771,NaN,00034e54ed99042609edad55031c8861,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [86]:
# Merging Projects with Essays, Outcomes and Resources
merged_df_test = merged_df_test.merge(essays_df, on='projectid', how='left')
merged_df_test = merged_df_test.merge(outcomes_df, on='projectid', how='left')
merged_df_test = merged_df_test.merge(resources_df.groupby('projectid').agg({'item_unit_price':'sum', 'item_quantity':'sum'}).reset_index(), on='projectid', how='left')

In [88]:
# Merging Donations (aggregated) with the main merged dataframe
donation_features = donations_df.groupby('projectid').agg({'donation_total':'sum', 'donor_acctid':'nunique'}).reset_index()
donation_features.rename(columns={'donation_total':'total_donations', 'donor_acctid':'unique_donors'}, inplace=True)
merged_df_test = merged_df_test.merge(donation_features, on='projectid', how='left')

In [89]:
len(merged_df_test['projectid'])

44772

In [90]:
# Feature name and description: total_cost_of_project - Sum of total price including optional support and total donations
# Usefulness: This feature could help in determining how financially heavy a project is, which could be related to its 'exciting' status.
# Input samples: 'total_price_including_optional_support': [2527.64, 267.49, 222.12], 'total_donations': [2300.0, 267.49, 222.12]
merged_df_test['total_cost_of_project'] = merged_df_test['total_price_including_optional_support'] + merged_df_test['total_donations'].fillna(0)

In [91]:
# Feature name and description: total_items_needed - Total quantity of items needed for the project
# Usefulness: A project requiring a large number of items may be more 'exciting' due to its scale.
# Input samples: 'item_quantity': [1.0, 8.0, 5.0]
merged_df_test['total_items_needed'] = merged_df_test['item_quantity'].fillna(0)

In [92]:
# Feature name and description: unique_donors_per_project - Number of unique donors for each project
# Usefulness: More unique donors could indicate higher excitement around the project.
# Input samples: 'unique_donors': [2, 5, 1]
merged_df_test['unique_donors_per_project'] = merged_df_test['unique_donors'].fillna(0)

In [93]:
# Explanation why the columns are dropped: Dropping columns that have been used to create new features or are identifiers.
merged_df_test.drop(columns=['total_price_including_optional_support', 'total_donations', 'item_quantity', 'unique_donors', 'Unnamed: 0'], inplace=True)#'resourceid', 'vendorid', 'vendor_name'], inplace=True)

In [94]:
# Handle missing values by filling them with zeros or encoding categorical variables
for column in merged_df_test.columns:
    if merged_df_test[column].dtype == 'object' and not merged_df_test[column].mode().empty:
        merged_df_test[column].fillna(merged_df_test[column].mode()[0], inplace=True)
    else:
        merged_df_test[column].fillna(0, inplace=True)

# Handle categorical variables
label_cols = merged_df_test.select_dtypes(include=['object']).columns.difference(['projectid'])
for col in label_cols:
    le = LabelEncoder()
    merged_df_test[col] = le.fit_transform(merged_df_test[col].astype(str))

# Drop the 'projectid' as it is just an identifier
if 'projectid' in merged_df_test.columns:
    merged_df_test.drop(columns=['projectid'], inplace=True)

In [97]:
# Predict the target variable for the test set
X_test = merged_df_test.drop(columns=['is_exciting_x','is_exciting_y'])
y_test_pred = rf_clf.predict(X_test)

In [99]:
y_test_pred.sum()

0

In [49]:
merged_df.columns

Index(['Unnamed: 0', 'teacher_acctid_x', 'schoolid', 'school_ncesid',
       'school_latitude', 'school_longitude', 'school_city', 'school_state',
       'school_zip', 'school_metro', 'school_district', 'school_county',
       'school_charter', 'school_magnet', 'school_year_round', 'school_nlns',
       'school_kipp', 'school_charter_ready_promise', 'teacher_prefix',
       'teacher_teach_for_america', 'teacher_ny_teaching_fellow',
       'primary_focus_subject', 'primary_focus_area',
       'secondary_focus_subject', 'secondary_focus_area', 'resource_type',
       'poverty_level', 'grade_level', 'fulfillment_labor_materials',
       'total_price_excluding_optional_support',
       'total_price_including_optional_support', 'students_reached',
       'eligible_double_your_impact_match', 'eligible_almost_home_match',
       'date_posted', 'teacher_acctid_y', 'title', 'short_description',
       'need_statement', 'essay', 'is_exciting',
       'at_least_1_teacher_referred_donor', 'fully_funded',
       'at_least_1_green_donation', 'great_chat',
       'three_or_more_non_teacher_referred_donors',
       'one_non_teacher_referred_donor_giving_100_plus',
       'donation_from_thoughtful_donor', 'great_messages_proportion',
       'teacher_referred_count', 'non_teacher_referred_count',
       'item_unit_price', 'item_quantity', 'total_donations', 'unique_donors',
       'total_cost_of_project', 'total_items_needed',
       'unique_donors_per_project'],
      dtype='object')

In [66]:
merged_df_test["is_exciting"]

0         0
1         0
2         1
3         0
4         0
         ..
166019    0
166020    0
166021    0
166022    0
166023    0
Name: is_exciting, Length: 166024, dtype: int64

In [55]:
X_train.columns

Index(['teacher_acctid_x', 'schoolid', 'school_ncesid', 'school_latitude',
       'school_longitude', 'school_city', 'school_state', 'school_zip',
       'school_metro', 'school_district', 'school_county', 'school_charter',
       'school_magnet', 'school_year_round', 'school_nlns', 'school_kipp',
       'school_charter_ready_promise', 'teacher_prefix',
       'teacher_teach_for_america', 'teacher_ny_teaching_fellow',
       'primary_focus_subject', 'primary_focus_area',
       'secondary_focus_subject', 'secondary_focus_area', 'resource_type',
       'poverty_level', 'grade_level', 'fulfillment_labor_materials',
       'total_price_excluding_optional_support', 'students_reached',
       'eligible_double_your_impact_match', 'eligible_almost_home_match',
       'date_posted', 'teacher_acctid_y', 'title', 'short_description',
       'need_statement', 'essay', 'at_least_1_teacher_referred_donor',
       'fully_funded', 'at_least_1_green_donation', 'great_chat',
       'three_or_more_non_teacher_referred_donors',
       'one_non_teacher_referred_donor_giving_100_plus',
       'donation_from_thoughtful_donor', 'great_messages_proportion',
       'teacher_referred_count', 'non_teacher_referred_count',
       'item_unit_price', 'total_cost_of_project', 'total_items_needed',
       'unique_donors_per_project'],
      dtype='object')

In [69]:
X.columns

Index(['teacher_acctid_x', 'schoolid', 'school_ncesid', 'school_latitude',
       'school_longitude', 'school_city', 'school_state', 'school_zip',
       'school_metro', 'school_district', 'school_county', 'school_charter',
       'school_magnet', 'school_year_round', 'school_nlns', 'school_kipp',
       'school_charter_ready_promise', 'teacher_prefix',
       'teacher_teach_for_america', 'teacher_ny_teaching_fellow',
       'primary_focus_subject', 'primary_focus_area',
       'secondary_focus_subject', 'secondary_focus_area', 'resource_type',
       'poverty_level', 'grade_level', 'fulfillment_labor_materials',
       'total_price_excluding_optional_support', 'students_reached',
       'eligible_double_your_impact_match', 'eligible_almost_home_match',
       'date_posted', 'teacher_acctid_y', 'title', 'short_description',
       'need_statement', 'essay', 'at_least_1_teacher_referred_donor',
       'fully_funded', 'at_least_1_green_donation', 'great_chat',
       'three_or_more_non_teacher_referred_donors',
       'one_non_teacher_referred_donor_giving_100_plus',
       'donation_from_thoughtful_donor', 'great_messages_proportion',
       'teacher_referred_count', 'non_teacher_referred_count',
       'item_unit_price', 'total_cost_of_project', 'total_items_needed',
       'unique_donors_per_project'],
      dtype='object')

In [ ]:
set(sample_s)